<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text ml-auto">&copy; Copyright Sahil Shah 300727537</h6>
    </nav>
  </footer>