 <!-- 
  homepage.ejs
  Sahil Shah 300727537
  29 Sep 2021
-->
 <!-- Home page content-->
     <% if (title == "Home"){ %>
        <p> Hello! I am Sahil Shah. Welcome to my express portfolio </p>
        <p> You will be able to find additional information on me by choosing <a href="/about">"About me"</a> option  </p>
        <br>
        <p><h2><u><b> MISSION STATEMENT</b></u></h2></p>
        <p> You won't know till you wont try! </p>

    
        <% } %>