body {
    color: #90654B;
	background-color: #F9F3EC
}
.column {
    float: left;
    width: 33.33%;
  }
 

h2 {
    color: #90654B;
    font-size: 250%;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
h3,h4 {
    color: #90654B;
    font-size: 200%;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}



p {
    color: #90654B;
    font-size: 150%;
    font-family: Arial, sans-serif;
    margin-right: auto;
}


form {
    font-weight: bold;
    color:#90654B;
    font-size: 100%;
    font-family: Arial, sans-serif;
    margin-right: auto;
}
input, select{
    font-size: 100%;
    font-family: Arial, sans-serif;
    margin-bottom: 1em;
    background-color: #90654B;
    color: white;
    border-radius: 0.3em;
    width: 14em;
}
::placeholder {
    font-size: 100%;
    font-family: Arial, sans-serif;
    color: white;
}
